@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Area Internal";
}

<h1>Area Internal</h1>

<hr />
<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Currencys" asp-action="Index">Back to Research</a>
</div>